apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sveltos-applier-manager-write-permission
  namespace: ciroos-agent
  labels:
  {{- include "ciroos.labels" . | nindent 4 }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sveltos-applier-manager-write-permission
  namespace: projectsveltos
  labels:
  {{- include "ciroos.labels" . | nindent 4 }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'