clusterNamespace: ""
clusterName: ""
kubernetesClusterDomain: cluster.local
pullmodeSecret:
  kubeconfig: ""
uninstaller:
  uninstall:
    args:
      - --skip-projectsveltos=false
    image:
      repository: registry.ciroos.ai/ciroos/uninstaller
      tag: 6dbe31455-amd64
sveltosApplierManager:
  controller:
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      seccompProfile:
        type: RuntimeDefault
    image:
      repository: docker.io/projectsveltos/sveltos-applier
      tag: v1.3.1
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  serviceAccount:
    annotations: {}
sveltosApplierMetricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
